<app-page-header [carts]="carts"></app-page-header>

<main>

  <!-- breadcrumb area start -->
  <section class="breadcrumb__area include-bg pt-95 pb-50" data-bg-color="#EFF1F5">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="breadcrumb__content p-relative z-index-1">
            <h3 class="breadcrumb__title">Checkout</h3>
            <div class="breadcrumb__list">
              <span><a href="#">Home</a></span>
              <span>Checkout</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb area end -->

  <!-- checkout area start -->
  <section class="tp-checkout-area pb-120" data-bg-color="#EFF1F5">
    <div class="container">
      <div class="row">
        <!-- <div class="col-xl-7 col-lg-7">
          <div class="tp-checkout-verify">
            <div class="tp-checkout-verify-item">
              <p class="tp-checkout-verify-reveal">Returning customer? <button type="button"
                  class="tp-checkout-login-form-reveal-btn">Click here to login</button></p>

              <div id="tpReturnCustomerLoginForm" class="tp-return-customer">
                <form action="#">

                  <div class="tp-return-customer-input">
                    <label>Email</label>
                    <input type="text" placeholder="Your Email">
                  </div>
                  <div class="tp-return-customer-input">
                    <label>Password</label>
                    <input type="password" placeholder="Password">
                  </div>

                  <div class="tp-return-customer-suggetions d-sm-flex align-items-center justify-content-between mb-20">
                    <div class="tp-return-customer-remeber">
                      <input id="remeber" type="checkbox">
                      <label for="remeber">Remember me</label>
                    </div>
                    <div class="tp-return-customer-forgot">
                      <a href="forgot.html">Forgot Password?</a>
                    </div>
                  </div>
                  <button type="submit" class="tp-return-customer-btn tp-checkout-btn">Login</button>
                </form>
              </div>
            </div>

          </div>
        </div> -->

        <div class="col-lg-7">
          <div class="tp-checkout-bill-area">
            <h3 class="tp-checkout-bill-title">Billing Details</h3>

            <div class="tp-checkout-bill-form">
              <app-loader *ngIf="loading; else loadForm" title="Placing Order"></app-loader>
              <ng-template #loadForm>
                <form (submit)="submit()">
                  <div class="tp-checkout-bill-inner">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="tp-checkout-input">
                          <label>First Name <span>*</span></label>
                          <input type="text" placeholder="First Name" name="firstname" [(ngModel)]="firstname">
                          <span *ngIf="errors.firstname" class="text-danger">{{errors.firstname}}</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="tp-checkout-input">
                          <label>Last Name <span>*</span></label>
                          <input type="text" placeholder="Last Name" name="lastname" [(ngModel)]="lastname">
                          <span *ngIf="errors.lastname" class="text-danger">{{errors.lastname}}</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="tp-checkout-input">
                          <label>Company name (optional)</label>
                          <input type="text" placeholder="Example LTD." name="company_name" [(ngModel)]="company_name">
                        </div>
                      </div>

                      <div class="col-md-12">
                        <div class="tp-checkout-input">
                          <label>Street address</label>
                          <input type="text" placeholder="House number and street name" name="street_address"
                            [(ngModel)]="street_address">
                          <span *ngIf="errors.street_address" class="text-danger">{{errors.street_address}}</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="tp-checkout-input">
                          <label>Town / City</label>
                          <input type="text" placeholder="" name="city" [(ngModel)]="city">
                          <span *ngIf="errors.city" class="text-danger">{{errors.city}}</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="tp-checkout-input">
                          <label>State </label>
                          <input type="text" placeholder="" name="state" [(ngModel)]="state">
                          <span *ngIf="errors.state" class="text-danger">{{errors.state}}</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="tp-checkout-input">
                          <label>Country </label>
                          <input type="text" placeholder="" name="country" [(ngModel)]="country">
                          <span *ngIf="errors.country" class="text-danger">{{errors.country}}</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="tp-checkout-input">
                          <label>Postcode ZIP</label>
                          <input type="text" placeholder="" name="postal_code" [(ngModel)]="postal_code">
                          <span *ngIf="errors.postal_code" class="text-danger">{{errors.postal_code}}</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="tp-checkout-input">
                          <label>Phone <span>*</span></label>
                          <input type="text" placeholder="" name="postal_code" [(ngModel)]="phone">
                          <span *ngIf="errors.postal_code" class="text-danger">{{errors.postal_code}}</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="tp-checkout-input">
                          <label>Email address <span>*</span></label>
                          <input type="email" placeholder="" name="email" [(ngModel)]="email">
                          <span *ngIf="errors.email" class="text-danger">{{errors.email}}</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="tp-checkout-option-wrapper">
                          <div class="tp-checkout-option">
                            <input id="create_free_account" type="checkbox" name="account" value="1"
                              [(ngModel)]="account">
                            <label for="create_free_account">Create an account?</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12" *ngIf="account">
                        <div class="tp-checkout-input">
                          <label>Password <span>*</span></label>
                          <input type="password" placeholder="" name="password" [(ngModel)]="password">
                          <span *ngIf="errors.password" class="text-danger">{{errors.password}}</span>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="tp-checkout-input">
                          <label>Order notes (optional)</label>
                          <textarea placeholder="Notes about your order, e.g. special notes for delivery." name="notes"
                            [(ngModel)]="notes"></textarea>
                        </div>
                      </div>
                      <div class="col-xxl-4 text-center">
                        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                        <div><img [src]="url" *ngIf="url" class="img-fluid"></div>
                        <div class="profile__input-box">

                          <div class="mb-3">
                            <label for="image">Select Payment Slip</label>
                            <input type="file" #imageInput id="image" (change)="selectFile($event)" required>
                            <span *ngIf="errors.amount" class="text-danger">{{errors.amount}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tp-checkout-agree">
                      <div class="tp-checkout-option">
                        <input id="read_all" type="checkbox" required>
                        <label for="read_all">I have read and agree to the website.</label>
                      </div>
                    </div>
                    <div class="tp-checkout-btn-wrapper">
                      <button type="submit" class="tp-checkout-btn w-100">Place Order</button>
                    </div>
                  </div>
                </form>
              </ng-template>


            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- checkout place order -->
          <div class="tp-checkout-place white-bg">
            <h3 class="tp-checkout-place-title">Your Order</h3>

            <div class="tp-order-info-list">
              <ul>

                <!-- header -->
                <li class="tp-order-info-list-header">
                  <h4>Product</h4>
                  <h4>Total</h4>
                </li>

                <!-- item list -->
                <li class="tp-order-info-list-desc" *ngFor="let cart of carts">
                  <p>{{cart.name}} <span> x {{cart.quantity}}</span></p>
                  <span>${{cart.sub_total | number}}</span>
                </li>


                <!-- subtotal -->
                <li class="tp-order-info-list-subtotal">
                  <span>Subtotal</span>
                  <span>${{subTotal() | number}}</span>
                </li>

                <!-- shipping -->
                <li class="tp-order-info-list-shipping">
                  <span>Shipping</span>
                  <div class="tp-order-info-list-shipping-item d-flex flex-column align-items-end">
                    <span>
                      <input id="flat_rate" type="radio" name="shipping" value="20" [(ngModel)]="shipping"
                        (change)="computeTotal()">
                      <label for="flat_rate">Flat rate: <span>$20.00</span></label>
                    </span>
                    <span>
                      <input id="local_pickup" type="radio" name="shipping" value="25" [(ngModel)]="shipping"
                        (change)="computeTotal()">
                      <label for="local_pickup">Local pickup: <span>$25.00</span></label>
                    </span>

                  </div>
                </li>

                <!-- total -->
                <li class="tp-order-info-list-total">
                  <span>Total</span>
                  <span>${{computeTotal() | number}}</span>
                </li>
              </ul>
            </div>


          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- checkout area end -->


</main>

<app-footer></app-footer>
